.actors {
  --xs-grid-cols: 2;
  --sm-grid-cols: 3;
  --md-grid-cols: 4;
  --lg-grid-cols: 5;
  --xl-grid-cols: 6;
  --xxl-grid-cols: 7;
}

.movie-list {
  --xs-grid-cols: 1;
  --sm-grid-cols: 1;
  --md-grid-cols: 2;
  --lg-grid-cols: 2;
  --xl-grid-cols: 3;
  --xxl-grid-cols: 3;
}

.movie-list.v {
  --xs-grid-cols: 2;
  --sm-grid-cols: 3;
  --md-grid-cols: 4;
  --lg-grid-cols: 5;
  --xl-grid-cols: 5;
  --xxl-grid-cols: 6;
}

.section-container {
  --xs-grid-cols: 1;
  --sm-grid-cols: 2;
  --md-grid-cols: 2;
  --lg-grid-cols: 3;
  --xl-grid-cols: 3;
  --xxl-grid-cols: 4;
}

.container {
  width: 100%;
  max-width: 1512px !important;
}

.actors,
.movie-list,
.movie-list.v,
.section-container {
  grid-template-columns: repeat(var(--xs-grid-cols), minmax(0, 1fr)) !important;
  grid-gap: 1rem !important;
}

div:has(> :is(.actors, .movie-list, .section-container)) {
  container: grid / inline-size;
}

@container grid (min-width: 576px) {
  .actors,
  .movie-list,
  .movie-list.v,
  .section-container {
    grid-template-columns: repeat(var(--sm-grid-cols), minmax(0, 1fr)) !important;
  }
}

@container grid (min-width: 768px) {
  .actors,
  .movie-list,
  .movie-list.v,
  .section-container {
    grid-template-columns: repeat(var(--md-grid-cols), minmax(0, 1fr)) !important;
  }
}

@container grid (min-width: 992px) {
  .actors,
  .movie-list,
  .movie-list.v,
  .section-container {
    grid-template-columns: repeat(var(--lg-grid-cols), minmax(0, 1fr)) !important;
  }
}

@container grid (min-width: 1200px) {
  .actors,
  .movie-list,
  .movie-list.v,
  .section-container {
    grid-template-columns: repeat(var(--xl-grid-cols), minmax(0, 1fr)) !important;
  }
}

@container grid (min-width: 1400px) {
  .actors,
  .movie-list,
  .movie-list.v,
  .section-container {
    grid-template-columns: repeat(var(--xxl-grid-cols), minmax(0, 1fr)) !important;
  }
}
