:root {
  --x-avatar-ratio: 1;
  --x-sprite-ratio: 4 / 3;
  --x-thumb-ratio: 83 / 118;
  --x-cover-ratio: 420 / 283;
  --x-title-size: 0.875rem;
  --x-sub-size: 0.75rem;
  --x-grid-gap: 0.5rem;
}

.sub-header,
.actors + br,
.actor-filter hr,
.app-desktop-banner,
.video-panel .message-body .top-meta,
#navbar-menu-hero .navbar-start > .navbar-item:not(.has-dropdown) {
  display: none !important;
}

html {
  padding-block: 0 !important;
  overflow-y: auto;
}

body {
  padding-top: 3.25rem;
  font-family: "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.user-container {
  margin: -1.75rem !important;

  & .common-list {
    margin-top: -0.75rem;

    & .columns {
      margin: 0;

      & .field.has-addons {
        align-items: center;
        justify-content: end;
        height: 100%;
      }
    }
  }
}

.compensate-for-scrollbar {
  margin-right: 0 !important;
}

.navbar {
  padding: 0 0.25rem;

  &.is-black {
    background: rgb(22 22 23 / 80%) !important;
    backdrop-filter: saturate(1.8) blur(20px);

    &
      :is(
        .navbar-brand > a.navbar-item:focus,
        .navbar-brand > a.navbar-item:hover,
        .navbar-item.has-dropdown:focus .navbar-link,
        .navbar-item.has-dropdown:hover .navbar-link,
        .navbar-end > a.navbar-item:focus,
        .navbar-end > a.navbar-item:hover
      ) {
      background-color: unset !important;
    }
  }
}

.search-bar-container {
  margin-bottom: 0.25rem !important;
}

.search-bar-wrap {
  padding: 0.75rem;

  & .search-recent-keywords {
    margin-inline: -0.5rem;

    & li {
      padding: 0 0.5rem;
    }
  }
}

:is(#search-type, #video-search) {
  border: none;
  box-shadow: none;

  &:is(:focus, :hover) {
    z-index: auto;
  }
}

.section:has(.video-detail) {
  padding-bottom: 0;
}

.columns:not(:last-child) {
  margin-bottom: 0.25rem;
}

.video-meta-panel {
  padding: 0.75rem;
  margin-bottom: 1rem;
}

.column-video-cover a {
  position: relative;
  display: block;
  aspect-ratio: var(--x-cover-ratio);
  background-color: #aa9084;

  & > :is(img, video) {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-height: unset;
    vertical-align: middle;
  }
}

.preview-video-container::after,
.column-video-cover .cover-container::after {
  height: 100%;
}

.movie-panel-info {
  font-size: var(--x-title-size);

  & div.panel-block {
    padding: 0.5rem 0;

    & .copy-to-clipboard {
      width: 1.25rem;
      height: 1.25rem;
    }
  }
}

.movie-panel-info > div.panel-block:first-child {
  padding-top: 0;
}

.movie-panel-info > div.panel-block:last-child {
  padding-bottom: 0;
  border-bottom: none !important;
}

.video-panel :is(.message-header, .message-body) {
  padding: 0.75rem;
}

.video-panel .tile-images {
  gap: 0.5rem;
  font-size: 0;

  & .tile-item :is(.video-number, .video-title) {
    font-size: var(--x-title-size);
  }
}

.preview-images :is(.preview-video-container, .tile-item) {
  aspect-ratio: var(--x-sprite-ratio);

  & img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    vertical-align: middle;
  }
}

#tabs-container {
  margin-top: -1rem;
}

#magnets .message {
  margin-bottom: 0;
}

#magnets-content {
  max-height: calc(54px * 10);
  overflow-y: overlay;
}

#magnets-content > .columns {
  align-items: center;
  padding: 0;
  margin: 0;

  & br {
    display: none;
  }

  & .magnet-name > * {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  & .magnet-name .name {
    flex-shrink: 0;
    width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  & .magnet-name :is(.meta, .tags) {
    flex-shrink: 0;
    width: 20%;
  }

  & .magnet-name .tags {
    padding-top: 0;
  }

  & .date {
    min-width: 180px;
  }

  & .buttons,
  & .buttons button:last-child {
    margin-bottom: 0;
  }
}

.review-items .review-item {
  padding: 0.75rem 0;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }
}

.tile-small .tile-item {
  display: flex;
  flex-direction: column;

  & img {
    flex: 1;
    width: 100%;
    object-fit: contain;
    background-color: #aa9084;
  }
}

.box {
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
}

.actor-box .button {
  margin-top: 0 !important;
}

.section-container {
  grid-gap: var(--x-grid-gap);

  & .box {
    padding: 0.75rem;
    margin-bottom: 0 !important;
    font-size: var(--x-title-size);

    & .button {
      margin-top: 0.75rem;
    }
  }

  & a {
    display: flex;
    gap: 0.5rem;
    align-items: baseline;

    & strong {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    & span {
      font-size: var(--x-sub-size);
    }
  }

  & > .column {
    padding: 0;
  }
}

.main-title,
.section-columns {
  padding-top: 0;
}

:is(.title, .tabs, .box, .message):not(:last-child) {
  margin-bottom: 1rem;
}

.message-body {
  padding: 1rem;
}

br + .title {
  margin-top: 1rem;
}

.main-tabs {
  margin-bottom: 1rem !important;
}

.tabs ul {
  border-bottom: none;
}

.tabs.is-boxed a {
  border: none;
}

.toolbar {
  padding: 0 0 0.5rem;
  font-size: 0;

  & .button-group {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    vertical-align: middle;
  }
}

#tags {
  margin-top: -0.5rem;
  margin-bottom: 0.5rem;

  & dt {
    display: flex;
    gap: 0.5rem;
    align-items: start;
    justify-content: start;
    padding: 0.5rem 0 0;
    line-height: normal;

    --x-line-height: 40px;

    &:last-child {
      border-bottom: none;
    }

    &.collapse {
      display: flex;
      height: calc(var(--x-line-height) + 1px);

      &:last-child {
        height: var(--x-line-height);
      }
    }

    & a.tag-expand {
      order: 3;
      float: none;
      margin-top: 0;
    }

    /* stylelint-disable-next-line selector-class-pattern */
    & .tag_labels {
      display: flex;
      flex: 1;
      flex-wrap: wrap;
      gap: 0.5rem;
      align-items: start;
      justify-content: start;
      padding-bottom: 0.5rem;
    }
  }
}

.actor-filter-toolbar {
  padding-bottom: 1rem;
}

.actor-filter {
  padding: 1rem;
}

.filter-slider {
  padding: 6px 16px 4px 7px;
}

.actor-filter-actions {
  display: flex;
  gap: 0.75rem;
  align-items: baseline;
  justify-content: end;
}

.actor-tags {
  padding-bottom: 0;
  border-bottom: none;

  & .content {
    font-size: 0;

    &:not(.collapse) {
      margin-bottom: -0.5rem;
    }
  }
}

.actors {
  grid-gap: var(--x-grid-gap);

  & .box {
    margin-bottom: 0;
    font-size: var(--x-title-size);
  }
}

.actor-box a figure {
  aspect-ratio: var(--x-avatar-ratio);
  overflow: hidden;
}

.actor-box a strong {
  padding: 0.5rem;
  line-height: normal;
}

.movie-list .item .cover {
  aspect-ratio: var(--x-cover-ratio);
  padding-top: 0 !important;

  & img {
    width: 100% !important;
    object-fit: contain !important;
  }

  &:hover img {
    z-index: unset;
    transform: none;
  }
}

.movie-list .item .video-title {
  display: -webkit-box;
  height: calc(3em + 0.75rem);
  padding-top: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.25rem;
  overflow: hidden;
  font-size: var(--x-title-size);
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  &:has(.is-success, .is-warning) {
    font-weight: bold;
  }
}

.movie-list .item :is(.score, .meta) {
  padding-bottom: 0.25rem;
  font-size: var(--x-sub-size);
}

.movie-list {
  grid-gap: var(--x-grid-gap);
  align-items: start;
  padding-bottom: 0;

  & .box {
    padding: 0 0 0.5rem;

    & :is(.video-title, .score, .meta, .tags) {
      padding-left: 0.5rem;
    }

    & .tags.has-addons {
      min-height: 2rem;
    }

    & .meta-buttons {
      padding: 0.5rem 0.5rem 0;

      & .button {
        margin-top: 0 !important;
      }
    }
  }

  &.v .item .cover {
    aspect-ratio: var(--x-thumb-ratio);

    & img {
      object-fit: cover !important;
    }
  }
}

.section:has(> .awards) {
  padding: 0;

  & .divider-title {
    padding-bottom: 0;
    border-bottom: none;
  }

  & .awards:last-child {
    padding-bottom: 0;
  }

  & .awards .movie-list {
    margin-top: 1rem !important;
    margin-bottom: 0 !important;
  }
}

nav.pagination {
  padding-top: 1rem;
  margin: 0 -0.25rem !important;
  border-top: none;
}

:root[data-theme="dark"] {
  color-scheme: dark;
  background-color: unset;

  .column-video-cover a {
    background-color: #222;
  }

  .tile-small .tile-item img {
    background-color: #363636;
  }

  & #tags dt:last-child {
    border-bottom: none !important;
  }

  & nav.pagination {
    border-top: none !important;
  }

  & :is(img, video) {
    filter: brightness(0.92) contrast(0.92);
  }
}
